:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --white: hsl(0, 0%, 100%);
    --font-size: 1em;
    --font-light: 400;
    --font-regular: 500;
    --font-bold: 600;
    --font-extra-bold: 700;
    --font-family: 'Poppins', sans-serif;;
    --border-radius: 8px;
    --box-shadow: 0 6px rgba(0, 0, 0, 0.2);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    padding: 5rem 1.5rem;
    background-color: var(--red);
    background-image: url("images/bg-intro-mobile.png");
    color: var(--white);
    display: grid;
    gap: 2rem;
    place-items: center;
    grid-template-areas:
    "header"
    "main"
    "footer";
    text-align: center;
    min-height: 100vh;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--font-bold);
    line-height: calc(var(--font-size) * 1.2);
    margin: 0;
    padding: 0;
}

p {
    font-weight: var(--font-regular);
    line-height: calc(var(--font-size) * 1.6);
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

input, textarea, button, select {
    font: inherit;
}

img, picture, svg, video, object {
    display: block;
    max-width: 100%;
    height: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.header {
    display: grid;
    gap: 1rem;
    grid-area: header;
}

.header__heading {
    font-size: calc(var(--font-size) * 1.8);
    font-weight: var(--font-extra-bold);
}

.header__paragraph {
    font-size: calc(var(--font-size) * 0.8);
    font-weight: var(--font-regular);
    opacity: 0.8;
}

.main {
    display: grid;
    gap: 2rem;
    grid-area: main;
}

.free-trial {
    background-color: var(--blue);
    margin: 0;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.free-trial > p {
    font-size: calc(var(--font-size) * 1);
    font-weight: var(--font-light);
    margin: 0 2rem;
}

.free-trial > p > .highlighted-text {
    font-weight: var(--font-bold);
}

.form {
    display: grid;
    gap: 1rem;
    background-color: var(--white);
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.form-input {
    position: relative;
}

.form-input__label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;
    display: flex;
    align-items: center;
    text-align: left;
    color: var(--dark-blue);
    font-size: calc(var(--font-size) * 0.8);
    font-weight: var(--font-bold);
    opacity: 0.8;
    cursor: text;
}

.form-input__input {
    color: var(--dark-blue);
    font-size: calc(var(--font-size) * 0.8);
    font-weight: var(--font-bold);
    margin: 0;
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--grayish-blue);
    border-radius: 4px;
    outline: none;
}

.form__btn {
    background-color: var(--green);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(var(--font-size) * 1);
    font-weight: var(--font-regular);
    color: var(--white);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px hsl(154, 59%, 45%);
    border: none;
    cursor: pointer;
}

.form__btn:hover {
    opacity: 0.8;
}

.form__disclaimer {
    font-size: calc(var(--font-size) * 0.8);
    font-weight: var(--font-light);
    color: var(--grayish-blue);
}

.form__disclaimer > a {
    text-decoration: none;
    font-weight: var(--font-bold);
    color: var(--red);
}

.footer {
    margin: 2rem 0 0 0;
    grid-area: footer;
}

.attribution {
    font-size: calc(var(--font-size) * 0.8);
    font-weight: var(--font-light);
}

.attribution > a {
    color: var(--blue);
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url("images/bg-intro-desktop.png");
        grid-template-areas:
        "header main"
        "footer footer";
        max-width: 1000px;
        margin: 0 auto;
    }

    .header {
        text-align: left;
    }

    .header__heading {
        font-size: calc(var(--font-size) * 2.5);
    }

    .form {
        padding: 2rem;
    }

    .form-input__label {
        left: 1.5rem;
    }

    .form-input__input {
        padding: 1rem 1.5rem;
    }
}